/*  ------------------------------------------- *
*    CYBER DUSK - ROUNDED GLASS                 *
*    LINK : www.gnome-look.org/p/2357650        *
*    Author : shant-O                           *
*    Version : 4.1                              *
*    Release Date : August 1st, 2026            *
*    This file Themes The Gnome Shell           *
*   ------------------------------------------- */
stage {
    -st-accent-color: rgba(0, 200, 250, 0.5);
    -st-accent-bg-color: rgba(13, 36, 66, 1);
    -st-accent-fg-color: white;
}
/* =====================================
                  PANEL
===================================== */
#panel,
#panel:overview,
.solid #panel {
    background-color: rgba(5,20,35, 0.7);
    height: 30px;    
    border-bottom: 2px solid rgba(0, 200, 250, 0.5);
    width: -1px; 
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
}
#panel .panel-corner,
.panel-corner {
    -panel-corner-radius: 0px;
    -panel-corner-background-color: transparent;
    -panel-corner-border-color: transparent;
}
.panel-main-box {
    margin: 0px;
    padding: 0px;
    spacing: 0px; 
}
#panelRight {
    padding-right: 0px;
}
/* =====================================
              PILL MAGICK
===================================== */
#panel .panel-button StBoxLayout,
#panel .panel-button StIcon,
#panel .panel-button StLabel {
    vertical-align: middle;
}
#panel .panel-button,
#panel .date-menu-button {
    background-color: rgba(5,20,35, 1) !important;
    border-radius: 30px;    
    padding: 0px 0px;    
    margin: 2px 2px;    
    border: 2px solid rgba(0, 200, 250, 0.5) !important;
    height: auto;
    min-height: 0;
}
#panel .panel-button:hover,
#panel .date-menu-button:hover {
    background-color: rgba(5,20,35, 1);
    box-shadow: inset 0 0 8px rgba(0, 200, 250, 0.8),
                0 0 10px rgba(0, 200, 250, 0.4);
    border: 2px solid rgba(0, 200, 250, 0.7);
    border-radius: 30px;
}
#panel .panel-button:active,
#panel .panel-button:checked,
#panel .panel-button:focus,
#panel .date-menu-button:active,
#panel .date-menu-button:checked,
#panel .date-menu-button:focus {
    background-color: rgba(5,20,35, 1);     
    border: 2px solid rgba(0, 200, 250, 0.9) !important;  
    box-shadow: inset 0 0 10px rgba(0, 200, 250, 0.8),
                0 0 12px rgba(0, 200, 250, 0.7) !important;
}
/* =============================================
   6. GLOBAL POPUP MENUS & SELECTION MARKERS
  ============================================= */
.datemenu-menu,
.quick-settings,
.popup-menu-content {
    background-color: rgba(10,25,40, 0.8);
    border: 2px solid rgba(0, 200, 250, 0.7);
    color: rgba(255, 255, 255, 1.0);
    margin: 2px;
    padding: 12px;
    border-radius: 30px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.6);
}
.sub-menu,
.popup-sub-menu {
    background-color: rgba(10,25,40, 0.8);
    border: 2px solid rgba(0, 200, 250, 0.3);
    color: rgba(250, 250, 250, 0.9);
    border-radius: 24px !important;
}
.popup-menu,
.popup-menu-boxpointer,
.menu,
.popup-menu-item:active,
.popup-menu-item:checked,
.popup-menu-item:focus,
.popup-menu-item:hover,
.popup-menu-item.selected,
.popup-sub-menu {
    border-radius: 30px;
}
.sub-menu StButton,
.popup-sub-menu StButton {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px;
  color: rgba(255, 255, 255, 1.0);
}
.popup-menu-section {
  background-color: transparent;
}
.sub-menu .popup-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 30px; 
}
.popup-menu-item StButton.button,
.popup-menu-item .button,
.vitals-menu-action-button {
    color: rgba(255, 255, 255, 1.0);
    box-shadow: inset 0 0 6px 12px rgba(0, 200, 250, 0.2);
}
.popup-menu-item StButton.button:hover,
.vitals-menu-action-button:hover {
    box-shadow: inset 0 0 6px 12px rgba(0, 200, 250, 0.7);
}
.popup-menu-item StButton.button:checked,
.vitals-menu-action-button:checked {
    background-color: rgba(5,20,35, 0.85);
    color: rgba(255, 255, 255, 1.0);
    border: 2px solid rgba(0, 200, 250, 0.5); 
    border-radius: 30px; 
    box-shadow: inset 0px 0px 8px 12px rgba(0, 200, 250, 0.3);
}
.popup-menu-item:active,
.popup-menu-item:checked,
.popup-sub-menu .popup-menu-item:checked {
    background-color: rgba(5,20,35, 0.85);
    color: rgba(255, 255, 255, 1.0);
    border: 2px solid rgba(0, 200, 250, 0.5); 
    border-radius: 30px;
    box-shadow: inset 0px 0px 8px 0px rgba(0, 200, 250, 0.3);
}
.popup-menu-item:checked .popup-menu-ornament {
    color: rgba(0, 200, 250, 0.5);
}
.message-list-section StButton,
.message-list-section StButton.button,
.message-list-section .button {
    background-color: rgba(5,20,35, 0.8);
    border: 0px solid rgba(0, 200, 250, 0.2); 
    border-radius: 30px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: none;
}
.message-list-section StButton.button:hover,
.message-list-section .button:hover,
.message-list-section StButton.button:focus,
.message-list-section .button:focus {
    background-color: rgba(0, 200, 250, 0.15); 
    border-color: rgba(0, 200, 250, 0.6);
    color: rgba(255, 255, 255, 1.0);
}
.datemenu-displays-box .message,
.datemenu-displays-box .world-clocks-button,
.datemenu-displays-box .weather-button,
.datemenu-displays-box StButton {
    background-color: rgba(5,20,35, 0.8);
    border: 0px solid rgba(0, 200, 250, 0.2);
    border-radius: 30px;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: none;
}
.datemenu-displays-box .message:hover,
.datemenu-displays-box .world-clocks-button:hover,
.datemenu-displays-box .weather-button:hover,
.datemenu-displays-box StButton:hover {
    background-color: rgba(5,20,35, 0.8);
    border-color: rgba(0, 200, 250, 0.6);
}
.datemenu-displays-box,
.datemenu-displays-section {
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.message-list-clear-button,
.message-list-clear-button:focus {
    background-color: rgba(15, 40, 70, 0.9);
    color: rgba(235, 245, 255, 0.3);
    border: 1px solid rgba(0, 180, 255, 0.3);
    border-radius: 30px; 
    box-shadow: none;
    transition: all 200ms ease;
}
.message-list-clear-button:hover {
    background-color: rgba(15, 40, 70, 0.9);
    color: rgba(255, 255, 255, 1.0);
    border: 2px solid rgba(0, 200, 250, 0.7);
    border-radius: 30px; 
    box-shadow: none;
    transition: all 200ms ease;
}
/* =====================================
             CALENDAR
===================================== */
.calendar-day-base:hover,
.calendar-day-base:focus {
  background-color: rgba(255, 255, 255, 0.15);
}
.calendar-day-base,
.calendar-day {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 13px; 
  border: 1px solid transparent;
}
.calendar-day-base:hover,
.calendar-day:hover,
.calendar-day-base:focus,
.calendar-day:focus {
    background-color: rgba(5,20,35, 0.855); 
    color: rgba(255, 255, 255, 1.0); 
    box-shadow: inset 0px 0px 15px 0px rgba(0, 200, 250, 0.5);
}
.calendar-today {
  background-color: rgba(0, 200, 250, 0.5);
  color: rgba(13, 36, 66, 1.0);
  font-weight: bold;
  border: 2px solid rgba(0, 200, 250, 0.5);
  border-radius: 13px; 
}
.calendar-other-month-day {
  background-color: transparent;
  opacity: 0.3;
}
.calendar-month-label {
  color: rgba(255, 255, 255, 1.0);
  font-weight: bold;
  font-size: 1.1em;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 24px; 
  padding: 8px 8px;
}
.calendar-change-month-back,
.calendar-change-month-forward {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 1.0);
  border-radius: 24px; 
  padding: 0px;
  margin: 0 0px;
  border: 1px solid transparent;
  box-shadow: none;
}
.calendar-change-month-back:hover,
.calendar-change-month-forward:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.calendar-day-heading {
  color: rgba(0, 200, 250, 0.8); 
  font-weight: bold;
  font-size: 1.0em;
  padding-bottom: 8px;
  padding-top: 12px;
  background-color: transparent;
}
/* =====================================
            QUICK SETTINGS
===================================== */
.quick-settings-system-item StBoxLayout > StButton {
    background: rgba(0, 150, 200, 0.5) !important;
    border-radius: 16px !important;
}
.quick-settings-system-item StBoxLayout > StButton:hover {
    background: rgba(0, 200, 240, 0.8) !important;
}
.quick-settings-user-box StButton.icon-button:first-child,
.quick-settings .quick-settings-system-item StButton:first-child {
    background: rgba(0, 160, 100, 1) !important;
    border-radius: 24px !important;
    color: black;
}

.quick-settings-user-box StButton.icon-button:last-child,
.quick-settings .quick-settings-system-item StButton:last-child {
    background-color: #e01b24 !important;
    color: #ffffff !important;
    border-color: #a51d2d !important;
    background-image: none !important; 
    border-radius: 30px !important;
}
.quick-settings-user-box StButton.icon-button:last-child:hover,
.quick-settings .quick-settings-system-item StButton:last-child:hover {
    background-color: #f66151 !important; 
}

.quick-settings, 
.datemenu-menu, 
.popup-menu-content,
.popup-menu-item,
.message-list,
.calendar,
.quick-toggle,
.quick-settings-tile {
    color: rgba(255, 255, 255, 1.0);
}
.slider {
    -bar-level-active-background-color: rgba(0, 200, 250, 0.9);
    -bar-level-background-color: rgba(255, 255, 255, 0.1);
}
.slider-handle {
    background-color: rgba(255, 255, 255, 1.0);
    border: 2px solid rgba(0, 200, 250, 0.5);
    border-radius: 30px; 
}
.quick-toggle-menu {
    background-color: rgba(10, 30, 50, 0.9) !important;
    border: 2px solid rgba(0, 200, 250, 0.5) !important;
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
}
.quick-toggle-menu .popup-menu-item:focus, 
.quick-toggle-menu .popup-menu-item:hover {
    background-color: rgba(5,20,35, 0.85);
    border: 2px solid rgba(0, 200, 250, 0.5);
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
}
.quick-settings StIcon,
.popup-menu-item StIcon,
.message StIcon,
.quick-toggle StIcon,
.quick-toggle-menu-button StIcon {
    color: rgba(255, 255, 255, 1.0); 
    -st-icon-style: symbolic;
}
.quick-settings .icon-button {
    background-color: rgba(10, 30, 50, 0.9);
    color: rgba(255, 255, 255, 1.0);
    border: 0px solid rgba(0, 200, 250, 0.5); 
    box-shadow: inset 0 0 12px rgba(0, 200, 250, 0.3);
}
.popup-menu-item:hover,
.popup-menu-item:focus {
    background-color: rgba(5,20,35, 0.85);
    border: 2px solid rgba(0, 200, 250, 0.5);
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
}
.quick-toggle {
    background-color: rgba(255, 255, 255, 0.05); 
}
.quick-toggle:checked,
.quick-toggle-menu-button:checked {
    background-color: rgba(10, 30, 50, 0.9);
    border: 2px solid rgba(0, 200, 250, 0.5);
    color: rgba(255, 255, 255, 1.0);
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.6);
}
.quick-toggle-separator {
    background-color: transparent;
    width: 0px;
    margin: 0;
    padding: 0;
    border: none;
}
.quick-toggle:hover, 
.quick-settings-tile:hover,
.quick-toggle-menu-button:hover {
    background-color: rgba(5,20,35, 0.855); 
    color: rgba(255, 255, 255, 1.0); 
    border: 2px solid rgba(0, 200, 250, 0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 200, 250, 0.5);
}
.quick-settings-tile:hover,
.quick-toggle-menu-button:hover {
    background-color: rgba(5,20,35, 0.855); 
    color: rgba(255, 255, 255, 1.0); 
    border: 2px solid rgba(0, 200, 250, 0.5);
    box-shadow: inset 0px 0px 15px 0px rgba(0, 200, 250, 0.5);
}
.quick-settings .icon-button:hover,
.quick-settings-system-menu StButton:hover {
  background-color: rgba(0, 200, 250, 0.3);
}
.quick-toggle-menu .popup-menu-item,
.quick-toggle-menu .popup-menu-item StLabel,
.quick-settings-menu .popup-menu-item .clutter-text,
.quick-settings-menu .popup-menu-item label {
    color: rgba(255, 255, 255, 1.0);
}
.quick-slider .slider,
.slider {
    height: 24px;
    -barlevel-height: 24px;
    -barlevel-background-color: rgba(0, 200, 250, 0.1);
    -barlevel-active-background-color: rgba(0, 160, 200, 0.7);
    color: rgba(0, 220, 255, 1);
    -slider-handle-radius: 6px;
}
/* =====================================
            TOGGLE SWITCH
===================================== */
.toggle-switch {
    width: 40px; 
    height: 20px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    background-image: url("assets/toggle-off.png");
}
.toggle-switch:checked {
    background-image: url("assets/toggle-on.png");
    box-shadow: none;
}
.toggle-switch StIcon {
    icon-size: 0px;
    color: transparent;
}
.toggle-switch .handle {
    width: 0px;
    height: 0px;
    background: none;
}
/* =====================================
          NOTIFICATION BANNER
===================================== */
.message,
.notification-banner {
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(5,20,35, 0.855); 
    border: 2px solid rgba(0, 200, 250, 0.5); 
    border-radius: 26px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 240, 240, 0.3);
    padding: 12px;
}
.message:hover, 
.message:focus,
.notification-banner:hover {
    border: 2px solid rgba(0, 200, 250, 0.9);
    box-shadow: inset 0px 0px 24px 0px rgba(0, 200, 250, 0.3); 
}
.notification-button {
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(5,20,35, 0.5);
    border: 2px solid rgba(0, 200, 250, 0.5);
    border-radius: 30px;
    margin: 4px;
}
.notification-button:focus,
.notification-button:hover {
    background-color: rgba(0, 200, 250, 0.6); 
    color: rgba(255, 255, 255, 1.0);
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px 0px rgba(0, 200, 250, 0.8);
}
/* =====================================
          SCREENSHOT PANEL
===================================== */
.screenshot-ui-panel,
.screenshot-ui-menu {
  background-color: rgba(5,20,35, 0.8);
  border-radius: 30px; 
  border: 2px solid rgba(0, 200, 250, 0.5);
}
.screenshot-ui-panel StButton,
.screenshot-ui-panel .button,
.screenshot-ui-type-button,
.screenshot-ui-capture-button {
  background-color: rgba(5,20,35, 0.55); 
  color: rgba(255, 255, 255, 1.0);
  border-radius: 30px;
  border: 2px solid rgba(0, 200, 250, 0.3); 
}
.screenshot-ui-panel StButton:hover,
.screenshot-ui-panel .button:hover,
.screenshot-ui-type-button:hover,
.screenshot-ui-capture-button:hover {
  background-color: rgba(0, 200, 250, 0.25); 
  border-color: rgba(0, 200, 250, 1.0); 
  color: rgba(255, 255, 255, 1.0);
}
.screenshot-ui-panel StButton:checked,
.screenshot-ui-panel .button:checked,
.screenshot-ui-type-button:checked,
.screenshot-ui-capture-button:checked,
.screenshot-ui-panel StButton:active {
  background-color: rgba(0, 200, 250, 0.9); 
  color: rgba(13, 36, 66, 1.0);
  border: 2px solid rgba(255, 255, 255, 1.0);
  border-radius: 30px;
}
/* =====================================
          POWER MENU BUTTON
===================================== */
.end-session-dialog .modal-dialog-button {
    color: rgba(255, 255, 255, 1.0); 
    border-radius: 30px; 
}
.end-session-dialog .modal-dialog-button:first-child {
    background-color: rgba(5, 15, 125, 1.0);
    color: rgba(255, 255, 255, 1.0);
    font-weight: bold;
    border-color: transparent;
    border-radius: 30px; 
}
.end-session-dialog .modal-dialog-button:last-child {
    background-color: rgba(225, 27, 36, 1.0);
    color: rgba(255, 255, 255, 1.0);
    border-color: transparent;
    font-weight: bold;
    border-radius: 30px; 
}
.end-session-dialog .modal-dialog-button:last-child:hover,
.end-session-dialog .modal-dialog-button:last-child:focus {
    background-color: rgba(255, 125, 100, 1.0); 
    border-radius: 30px; 
}
.end-session-dialog .modal-dialog-button:first-child:hover,
.end-session-dialog .modal-dialog-button:first-child:focus {
    background-color: rgba(0, 120, 220, 1.0); 
    border-radius: 30px; 
}
/* =====================================
                  OSK
===================================== */
#keyboard {
    background-color: transparent;
}
.keyboard-panel {
    background-color: rgba(15, 30, 50, 0.6);  
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px; 
}
.keyboard-row {
    background-color: transparent;
}
.keyboard-container {
    background-color: rgba(15, 30, 50, 0.6); 
    border-top: 1px solid rgba(0, 180, 250, 0.1);
    border-radius: 30px; 
}
.keyboard-key {
    background-color: rgba(15, 30, 50, 0.6); 
    color: rgba(115, 225, 255, 1.0);
    border-radius: 30px;
    border: 2px solid rgba(0, 200, 250, 0.05);
    font-weight: bold;
}
.keyboard-key:active,
.keyboard-key:checked {
    background-color: rgba(0, 240, 255, 1.0);
    color: rgba(0, 0, 0, 1.0);
    border-radius: 30px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 200, 250, 0.5);
}
/* =====================================
                OSD
===================================== */
.osd-window {
    background-color: rgba(5,20,35, 0.7);
    border-radius: 24px;
    border: 2px solid rgba(0, 200, 250, 0.5);
}
.osd-window .level {
    -barlevel-active-background-color: rgba(0, 200, 250, 1.0); 
    -barlevel-background-color: rgba(0, 200, 250, 0.15); 
    color: rgba(0, 200, 250, 1.0);
    opacity: 1.0; 
    height: 12px;
}
.osd-window StIcon {
    filter: drop-shadow(0 0 8px rgba(0, 200, 250, 0.5));
}
/* =====================================
               POLKIT
===================================== */
.user-icon {
  background-size: contain;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 9999px;
  icon-size: 164px;
}
.user-icon:hover {
  color: white;
}
.user-icon StIcon {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 99px;
  padding: 12px;
  width: 40px;
  height: 40px;
}
.user-icon.user-avatar {
  border: 2px rgba(255, 255, 255, 0.7);
}
.user-widget.vertical .user-icon {
  icon-size: 128px;
}
.user-widget.vertical .user-icon StIcon {
  padding: 20px;
  padding-top: 18px;
  padding-bottom: 22px;
  width: 88px;
  height: 88px;
}
.modal-dialog {
    width: 320px;
    background-color: rgba(5,20,35, 0.85);
    border-radius: 30px;
    border: 1px solid rgba(0, 200, 250, 0.4);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
}
.modal-dialog .user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 10px auto;
}
.prompt-dialog-main-layout {
    spacing: 12px;
    padding: 20px;
}
.prompt-dialog-password-entry {
    width: 240px;
    background-color: rgba(255, 50, 100, 0.1);
    border-image: none !important;
    border: 1px solid rgba(255, 0, 0, 0.4) !important;
    padding: 6px 12px;
    border-radius: 24px;
    box-shadow: none !important;
}
.modal-dialog-button-box {
    spacing: 10px;
    padding-top: 10px;
}
.modal-dialog-button {
    border-radius: 30px;
}
/* =====================================
          NOTIFICATION STACK
===================================== */
.candidate-popup,
.message-list-section,
.notification-banner {
    margin-bottom: 12px;
}
.notification-banner .notification-stack-wrapper,
.message-list .notification-group .notification-sequence-container {
    margin-top: 6px;
    spacing: 6px;
}
.notification-group {
    spacing: 4px;
    margin-bottom: 8px;
}
.notification-group .message {
    margin: 4px 0;
    padding: 8px;
}
/* =====================================
              ALT+F2
===================================== */
.run-dialog .run-dialog-entry,
.run-dialog .st-entry,
.run-dialog .search-entry, 
.run-dialog StEntry {
    background-color: rgba(255, 255, 255, 0.1);
    border-image: none !important;
    border: 1px solid rgba(0, 200, 250, 0.4) !important;
    padding: 6px 12px;
    border-radius: 24px;
    box-shadow: none !important;
}
.run-dialog .run-dialog-entry:focused,
.run-dialog .search-entry:focused,
.run-dialog .st-entry:focused, 
.run-dialog StEntry:focused {
    border: 1px solid rgba(0, 200, 250, 0.6) !important;
    box-shadow: none !important;
}
/* Random */
.mpris-thumbnail {
    width: auto;
    height: auto;
    border-radius: 30px; 
}
.mpris-thumbnail > StIcon, 
.mpris-thumbnail st-icon {
    width: -1px;
    height: -1px; 
    -st-icon-style: regular;
}
#panel .panel-button,
.popup-menu-item,
.app-well-app .overview-icon,
.grid-title,
.search-result-title,
.window-clone-title,
.calendar,
.message-title,
.world-clocks-label {
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}
.popup-menu-item:disabled,
#panel .panel-button:disabled,
.app-well-app:disabled .overview-icon,
.caption,
.muted-label {
    text-shadow: none !important;
}
/* =====================================
            > > > > AUGUST 1st 2026
===================================== */
