/*  ------------------------------------------- *
*    CYBER DUSK - ROUNDED GLASS                 *
*    LINK : www.gnome-look.org/p/2357650        *
*    Author : shant-O                           *
*    Version : 4.1                              *
*    Release Date : August 1st, 2026            *
*    This file Themes GTK4 apps!                *
*   ------------------------------------------- */
/* ==============================================
                DARK MODE ONLY COLORS
 ============================================== */
:root {   --accent-bg-color:        rgb(40, 160, 180);
          --accent-color:           rgb(40, 160, 180);
          --window-bg-color:        rgba(10,20,30, 0.9);
          --view-bg-color:          rgba(10,20,30, 0.9);
          --headerbar-bg-color:     rgba(10,20,30, 0.1); }
/*   DARK NEUTRALS & BLACKS   */
@define-color textglow              rgb(0, 0, 0);
@define-color shade_color           rgba(0, 0, 0, 0.3);
@define-color shadow_color          rgba(0, 0, 0, 0.7);
/*   WHITES & GLOWS   */
@define-color glowy                 rgba(255, 255, 255, 0.2);
@define-color glow                  rgba(255, 255, 255, 0.6);
@define-color headerbar_fg_color    rgba(255, 255, 255, 0.85);
@define-color window_fg_color       rgb(255, 255, 255);
@define-color view_fg_color         rgb(255, 255, 255);
/*   WARMS (ORANGE, RED, PINK)   */
@define-color warning_bg_color      rgb(210, 70, 20);
@define-color warning_color         rgb(235, 95, 45);
@define-color destructive_bg_color  rgb(170, 0, 20);
@define-color destructive_color     rgb(190, 0, 30);
@define-color error_bg_color        rgb(155, 25, 35);
@define-color error_color           rgb(200, 30, 40);
/*   GREENS   */
@define-color success_bg_color      rgb(0, 200, 130);
@define-color success_color         rgb(0, 230, 150);
/*   LIGHT NEONS, CYANS & BRIGHT BLUES   */
@define-color grad_lit              rgb(0, 200, 255);
@define-color hoverr                rgba(0, 220, 255, 0.15);
@define-color neon                  rgb(0, 220, 255);
@define-color accent_bg_color       rgb(40, 160, 180);
@define-color accent_color          rgb(40, 160, 180);
@define-color border_lite           rgba(0, 200, 250, 0.1);
@define-color border_color          rgba(0, 200, 250, 0.5);
@define-color appglow               rgba(6, 200, 250, 0.3);
@define-color switchtrough          rgba(0, 100, 140, 0.4);
@define-color accent_dark           rgb(10, 100, 130);
@define-color grad_drk              rgb(10, 100, 130);
@define-color bar_color             rgba(84, 184, 255, 0.6);
@define-color card_bg_color         rgba(150, 190, 220, 0.1);
/*   MIDNIGHTS & DEEP BLUES   */
@define-color bg_color              rgba(0, 15, 25, 0.1);
@define-color sidebar_color         rgba(0, 15, 25, 0.95);
@define-color chromium              rgba(10,20,30, 0.9);
@define-color selection_color       rgb(10,30,45);
@define-color headerbar_bg_color    rgba(10,20,30, 0.1);
@define-color headerbar_color       rgba(10,20,30, 0.1);
@define-color dialog_bg_color       rgba(10,20,30, 0.9);
@define-color theme_bg_color        rgba(10,20,30, 0.9);
@define-color view_bg_color         rgba(10,20,30, 0.9);
@define-color window_bg_color       rgba(10,20,30, 0.9);
@define-color popover_bg_color      rgba(10,20,30, 0.95);
/*   PURPLE & TRANSPARENT   */
@define-color purpglow              rgba(170, 90, 250, 0.5);
@define-color nulll                 rgba(0, 0, 0, 0);
@define-color whglow                rgb(225, 235, 255);
/*  Redefining  */
@define-color base_color @window_bg_color;
@define-color insensitive_bg_color @dialog_bg_color;
@define-color insensitive_base_color @dialog_bg_color;
@define-color theme_unfocused_bg_color @dialog_bg_color;
@define-color theme_unfocused_base_color @dialog_bg_color;

/* ----------------------------------------------------------
          FIX TRANSPARENT ICONS / CHECKERBOARDS    
---------------------------------------------------------- */
window.background.csd preferencespage picture {
    border-radius: 24px;
}
.nautilus-window image.purity,
.nautilus-window .thumbnail image,
window.main-window image.purity,
adwnavigationview image.purity {
  background-image: none;
  background-color: transparent;
  -gtk-icon-shadow: none;
}
.nautilus-window .thumbnail,
.nautilus-window widget.thumbnail,
.nautilus-window .thumbnail > image {
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: none;
}
widget.checkerboard,
image.checkerboard,
.checkerboard {
  background-image: none;
  background-color: transparent;
}
.nautilus-properties frame.image-frame,
frame.image-frame {
  background-color: transparent;
  border: none;
  border-style: none;
  box-shadow: none;
}
frame.image-frame > border,
frame.image-frame image.icon-dropshadow {
  border: none;
  box-shadow: none;
}
/* ----------------------------------------------------------
                  APPS SIDEBAR STYLING   
---------------------------------------------------------- */
.navigation-sidebar {
  background-image: none;
  background-clip: padding-box;
  margin: 12px;
  border-right: none;
  border-radius: 24px;
  background-color: @sidebar_color;
  border: 1px solid @border_lite;
  box-shadow: inset 0 1px 1px @glowy, 
              0px 4px 12px @shadow_color;
  text-shadow: 0 1px 2px @textglow;
}
navigation-split-view,
.navigation-sidebar-container,
widget.sidebar-pane,
widget.content-pane {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
navigation-split-view > separator {
  background-color: transparent;
  min-width: 0;
  min-height: 0;
  margin: 0;
}
navigation-split-view > widget.content-pane > stack {
  border-left: none;
  background-color: transparent;
}
statuspage {
    background-color: @bg_color;
    border-radius: 30px;
    padding: 2px;
}
.navigation-view:drop(active) {
    background-color: @bg_color;
}
.nautilus-progress-indicator {
    color: @view_fg_color;
    background-image: none;
    background: @accent_dark;
    background-color: @accent_dark;
    border-radius: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 12px;
    margin-right: 12px;
    border: 1px solid @border_lite;
    box-shadow: 2px 6px 12px @purpglow;
    text-shadow: 0 1px 2px @textglow;
}
.nautilus-progress-indicator label {
    color: @view_fg_color;
    text-shadow: 0 1px 2px @textglow;
}
window.nautilus-window .nautilus-progress-indicator popover contents,
window.nautilus-window .nautilus-progress-indicator popover contents box,
window.nautilus-window .nautilus-progress-indicator popover contents list,
window.nautilus-window .nautilus-progress-indicator popover contents row {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 6px;
    padding-right: 0px;
}
/* ----------------------------------------------------------
                        GNOME TOAST
---------------------------------------------------------- */
toast {
  background: linear-gradient(to right, @grad_drk, @grad_lit);  
  color: @view_fg_color;
  border: 1px solid @neon;
  box-shadow: 0 0px 4px @neon;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
}
toast button {
  background-color: @view_bg_color;
  color: @view_fg_color;
  border-radius: 30px;
  border: 2px solid @border_color;
  box-shadow: 0 4px 12px @shadow_color;
  text-shadow: 0 1px 2px @textglow;
}
toast button:hover {
  box-shadow: none;
  border-radius: 30px;
  color: @neon;
}
/* ----------------------------------------------------------
                  SELECTION MARKER SIDEBAR    
---------------------------------------------------------- */
.navigation-sidebar row:selected,
navigation-split-view .sidebar-pane list row:selected,
sidebar list row:selected,
.navigation-sidebar row:hover {
  background-color: @selection_color;
  color: @view_fg_color;
  box-shadow: 0 4px 12px @purpglow, 
              inset 0 0 0 2px @border_color;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
  transition: all 200ms ease;
}
.boxed-list,
list,
listview,
popover.menu contents {
  background-clip: padding-box; 
  border-radius: 30px;
}
.boxed-list row:first-child,
preferencesgroup > list row:first-child,
row.property:first-child,
popover.menu contents modelbutton:first-child {
  border-top-left-radius: 30px; 
  border-top-right-radius: 30px;
}
.boxed-list row:last-child,
preferencesgroup > list row:last-child,
row.property:last-child,
popover.menu contents modelbutton:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
/*----------------------------------------------------------
        POPUPS / POPOVERS / MENUS / CONTEXT MENUS    
---------------------------------------------------------- */
popover.menu,
popover.background {
  border-radius: 30px;
}
dialog floating-sheet sheet {
  background-image: none;
  background-clip: padding-box;
  backdrop-filter: blur(20px) brightness(1.1);
  background-color: @popover_bg_color;
  border: 1px solid @border_color;
  box-shadow: 0 12px 24px @shadow_color;
  border-radius: 30px;
}
menu,
popover > contents,
popover contents,
popover.menu contents {
  background-color: @popover_bg_color;
  background-image: none;
  background-clip: padding-box;
  margin: 4px 4px;
  padding: 4px 4px;
  border-radius: 30px;
  border: 1px solid @border_color;
  box-shadow: 0 12px 24px @shadow_color;
}
popover contents button,
popover contents modelbutton,
popover contents list row,
popover contents listview > child {
  transition: all 200ms ease;
  margin: 4px 4px; 
  padding-top: 2px;
  padding-bottom: 2px; 
  background-color: transparent;
  color: @view_fg_color;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
}
popover > arrow {
  background-color: transparent;
  background-image: none;
  border-style: none;
  -gtk-icon-shadow: none;
  color: transparent;
  min-width: 0;
  min-height: 0;
}
popover > contents,
popover.menu contents {
  backdrop-filter: blur(20px) brightness(1.1);
}
popover.menu modelbutton:hover,
popover contents button:hover,
popover contents modelbutton:hover,
popover contents list row:hover,
popover contents listview > child:hover,
popover contents listview > child:selected {
  background: @selection_color; 
  color: @view_fg_color;
  box-shadow: 0 4px 12px @purpglow, 
              inset 0 0 0 2px @border_color;
  text-shadow: 0 1px 2px @textglow;
}
popover contents list,
popover contents listview {
  background-color: transparent;
}
popover contents button:hover image,
popover contents modelbutton:hover image,
popover contents list row:hover image {
  -gtk-icon-shadow: 0 1px 2px @textglow;
}
popover contents listview > child:hover label,
popover contents listview > child:selected label {
  color: @view_fg_color;
  font-weight: 500;
  text-shadow: 0 1px 2px @textglow;
}
/*----------------------------------------------------------
                          TOOLTIPS    
---------------------------------------------------------- */
tooltip {
  background-color: @accent_dark;
  color: @view_fg_color;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
  padding: 6px 12px 6px 12px;
}
tooltip label {
  color: @view_fg_color;
  text-shadow: 0 1px 2px @textglow;
}
/* ----------------------------------------------------------
                      WINDOW CARDS    
---------------------------------------------------------- */
.card,
.boxed-list,
navigation-row,
stacksidebar row {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 24px;
}
.card:hover,
.boxed-list list row:hover,
.boxed-list row:hover,
row.activatable:hover {
  background-color: @selection_color;
  color: @view_fg_color;
  box-shadow: 0 4px 12px @purpglow, 
              inset 0 0 0 2px @border_color;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
  transition: all 200ms ease;
}
.card:hover label,
.boxed-list row:hover label {
  color: @view_fg_color;
  text-shadow: 0 1px 2px @textglow;
}
.card:hover label,
.card:hover image,
.boxed-list row:hover label,
.boxed-list row:hover image,
row.activatable:hover label,
row.activatable:hover image,
navigation-row:hover label,
navigation-row:hover image {
  color: @view_fg_color;
  text-shadow: 0 1px 2px @textglow;
  -gtk-icon-shadow: 0 0 10px @shadow_color;
  border-radius: 24px;
  transition: all 200ms ease;
}
.card:hover button,
row.activatable:hover button,
navigation-row:hover button {
  color: @view_fg_color;
}
stacksidebar row:hover label {
  color: @view_fg_color;
  text-shadow: 0 1px 2px @textglow;
}
/* ----------------------------------------------------------
              TEXT ENTRY / SEARCHBAR / ENTRYFIELD    
---------------------------------------------------------- */
window.nautilus-window headerbar box,
window.nautilus-window .path-bar,
window.nautilus-window .navigation-bar {
  border-radius: 24px;
}
entry:focus,
entry:focus-within,
searchbar entry:focus,
searchbar entry:focus-within {
  background-color: @selection_color;
  color: @view_fg_color;
  box-shadow: 0 4px 12px @purpglow, 
              inset 0 0 0 1px @border_color;              
  border: none;
  outline: none;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
}
entry:hover:not(:focus) {
  border: none;
  background-color: @card_bg_color;
  border-radius: 30px;
  }
entry,
text {
  padding-left: 8px;
  padding-right: 8px;
  margin: 2px;
  caret-color: @accent_bg_color;
  border-radius: 30px;
  }
entry.search-bar,
.location-bar entry {
  padding: 4px 12px;
  border-radius: 30px;
}
entry selection {
  background-color: @warning_color;
  color: @view_fg_color;
}
/* ----------------------------------------------------------
                        NOTEBOOK TABS   
---------------------------------------------------------- */
notebook tabs tab {
  background-image: none;
  margin-bottom: 6px;
  border: none;
  border-image: none;
}
notebook tabs tab:checked,
notebook tabs tab:active {
  background-color: @accent_dark;
  color: @view_fg_color;
  box-shadow: 0 2px 6px @shadow_color,
              inset 0 0 0 1px @border_color;                
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
}
notebook tabs tab:hover {
  background-color: alpha(@bar_color, 0.5);
}
/* ----------------------------------------------------------
                        TABBAR / TABS    
---------------------------------------------------------- */
tab:not(:checked) {
  background-color: alpha(@selection_color, 0.2);
  color: alpha(@window_fg_color, 0.5);
  border: 1px solid @bar_color;
  border-radius: 30px;
  }
tab:checked {
  background-color: @selection_color;
  color: @window_fg_color;
  box-shadow: inset 0 -2px 0 0 @accent_bg_color;
  border-radius: 30px;
  border: 2px solid @border_color;
  text-shadow: 0 1px 2px @textglow;
  }
tab:not(:checked):hover {
  background-color: alpha(@neon, 0.05);
  border-radius: 30px;
  border: 2px solid @border_color;
  }
tabbar {
  background-color: @bg_color;
  }
tabbar tab indicator {
  background-color: @neon;
  }
tabbar tab:not(:checked) {
  background-color: alpha(@selection_color, 0.5);
  color: alpha(@window_fg_color, 0.5);
  border: 1px solid alpha(@bar_color, 0.5);
  border-radius: 30px;
  margin: 8px 4px;
  transition: all 200ms ease;
  }
tabbar tab:checked, 
tabbar tab:selected,
tabbar tab:hover {
  background-color: @selection_color;
  color: @view_fg_color;
  box-shadow: 0 4px 8px @purpglow;   
  border: 2px solid @border_color;
  border-radius: 30px;
}
tabbar tab label {
  font-weight: 800;
  color: inherit;
  margin: 0 6px;
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
  }
tabbar tab:hover:not(:checked):not(:selected) {
  background-color: alpha(@neon, 0.2);
  border: 1px solid @border_color;
  border-radius: 30px;
}
/* ----------------------------------------------------------
              BUTTONS - DESTRUCTIVE / SUGGESTED    
---------------------------------------------------------- */
headerbar button.text-button {
  box-shadow: 0 2px 4px @shadow_color;
}
button:active {
  color: @view_fg_color;
  box-shadow: inset 0 0 0 2px @glowy, 
              0 4px 12px @purpglow;           
  border-radius: 30px;
  text-shadow: 0 1px 2px @textglow;
}
button:checked {        
  box-shadow: inset 0 0 0 2px @border_color,
              0 4px 12px @shadow_color;
}
button.suggested-action {
  background-color: @border_color;
  border: 2px solid @border_lite;
  border-radius: 30px;
  box-shadow: 0 4px 12px @shadow_color;
}
button.suggested-action:hover {
  border: 2px solid @border_lite;
  background-color: @bar_color;
}
button.destructive-action {
  background-color: alpha(@destructive_bg_color, 0.3);
  border: 1px solid alpha(@destructive_color, 0.5);
  color: @destructive_color;
  border-radius: 30px;
  box-shadow: 0 4px 12px @shadow_color;
  text-shadow: 0 1px 2px @textglow;
}
button.destructive-action:hover {
  background-color: alpha(@destructive_bg_color, 0.4);
  color: @destructive_color;
  border-radius: 30px;
  box-shadow: 0 8px 16px alpha(@destructive_color, 0.6);
  border: 1px solid alpha(@destructive_color, 0.9);
}
/* ----------------------------------------------------------
                      DIALOG BUTTONS     
---------------------------------------------------------- */
window button,
window .button,
window dialog button,
window messagedialog button,
window windowhandle button,
window statusbar button,
window popover button {
  border-radius: 30px;
  background-clip: padding-box;
  transition: all 200ms ease;
}
window button > box,
window button > label,
window button > child {
  border-radius: 30px;
}
window dialog button:not(.destructive-action):not(destructive):not(.destructive):not(.suggested-action):not(.close):not(.minimize):not(.maximize):hover,
window button:not(.close):not(.minimize):not(.destructive):not(destructive):not(.destructive-action):not(.maximize):hover {
  box-shadow: 0 4px 12px @purpglow, 
              inset 0 0 0 2px @border_color;
}
window dialog button.destructive-action,
window messagedialog button.destructive-action,
window button.destructive-action {
  background-color: alpha(@destructive_bg_color, 0.3);
  border: 1px solid alpha(@destructive_color, 0.5);
  color: @destructive_color;
  border-radius: 30px;
  box-shadow: 0 4px 12px @shadow_color;
  text-shadow: 0 1px 2px @textglow;
}
window dialog button.destructive-action:hover,
window button.destructive-action:hover {
  background-color: alpha(@destructive_bg_color, 0.4);
  color: @destructive_color;
  border-radius: 30px;
  box-shadow: 0 8px 16px alpha(@destructive_color, 0.6);
  border: 1px solid alpha(@destructive_color, 0.9);
}
window button:active,
window dialog button:active {
  transform: scale(0.96);
}
/* ----------------------------------------------------------
        WINDOWS / HEADERBAR / WINDOWCONTROLBUTTONS    
---------------------------------------------------------- */
windowcontrols button {
  background: transparent;
  border: none;
  box-shadow: none;
  -gtk-icon-shadow: 0 1px 2px @textglow;
}
headerbar button:hover {
  box-shadow: 0 4px 12px @purpglow, 
              inset 0 2px 0 @glowy,
              inset 0 0 0 2px @border_color;
}
headerbar windowcontrols button:hover {
    background-color: alpha(@neon, 0.5);
    border: none;
    box-shadow: 0 0 6px 2px alpha(@neon, 0.4);
}
headerbar windowcontrols button.close:hover {
    background-color: @error_color;
    border: none;
    box-shadow: 0 0 10px 2px @error_color;
}
headerbar windowcontrols button.end:hover {
    background-color: @error_color;
    border: none;
    box-shadow: 0 0 10px 2px @error_color;
}
headerbar windowcontrols button.maximize:hover {
    background-color: @success_bg_color;
    border: none;
    box-shadow: 0 0 8px 2px @success_bg_color;
}
headerbar windowcontrols button.minimize:hover {
    background-color: @warning_color;
    border: none;
    box-shadow: 0 0 8px 2px @warning_color;
}
headerbar windowcontrols button {
  border-radius: 99px;
  transition: all 200ms ease;
}
/* ----------------------------------------------------------
            WINDOW CSD / BACKDROP / INACTIVE STATE    
---------------------------------------------------------- */
window.csd:backdrop,
window.main-window:backdrop,
.nautilus-window:backdrop {
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  border-radius: 30px;
  }
window:backdrop .navigation-sidebar,
window:backdrop .navigation-pane,
window:backdrop .nautilus-window {
    background-color: transparent;
    background-image: none;
    backdrop-filter: blur(20px) brightness(1.1);
    box-shadow: none;
}
window.csd:backdrop,
window.csd:backdrop decoration,
window.csd:backdrop .window-frame {
  box-shadow: none;
  border: 1px solid @border_lite;
  outline: none;
  border-radius: 30px;
  }
window.csd:backdrop {
  margin: 0;
  padding: 0;
  border-radius: 30px;
  }
/* ----------------------------------------------------------
          MAIN WINDOW / FRAME / HEADERBAR / GLOW    
---------------------------------------------------------- */
window.csd,
window.main-window,
.nautilus-window {
  opacity: 1.0;
  transition: opacity 0.2s ease-in-out;
  border-radius: 30px;
  }
window.csd,
window.main-window,
.nautilus-window.window {
  border-radius: 30px;
  border: 2px solid @border_color;
  box-shadow: 0 12px 12px @shadow_color;
  }
headerbar {
  background-color: @headerbar_bg_color;
  background-image: none;
  padding: 0 6px;
  transition: all 200ms ease;
  box-shadow:none;
}
headerbar.titlebar,
.navigation-view headerbar,
adwheaderbar {
  background-image: none;
  background-color: @headerbar_bg_color;
  color: @view_fg_color;
  box-shadow: none;
}
headerbar entry {
  padding: 0 12px;
}
headerbar:backdrop {
  background-color: transparent;
  background-image: none;
  border-bottom: 1px solid @border_lite;
  color: @glow;  
}
/* ----------------------------------------------------------
            PROGRESSBAR / LEVELBAR / SCROLLBAR    
---------------------------------------------------------- */
progressbar trough {
    background: @bg_color; 
    border: none;    
    min-height: 8px;      
    box-shadow: inset 0 1px 1px @shade_color;
    border-radius: 12px;
}
progressbar progress {
    background: linear-gradient(to right, @grad_drk, @grad_lit);
    border: none;
    min-height: 8px;
    border-radius: 12px;
    box-shadow: inset 0 1px 0 @glowy, 
                0 0 12px @bar_color; 
}
scale trough {
    background: @card_bg_color; 
    border: none;    
    min-height: 8px;      
    box-shadow: inset 0 1px 1px @shade_color;
    border-radius: 12px;
}
scale highlight {
    background: linear-gradient(to right, @grad_drk, @grad_lit);
    border: none;
    min-height: 8px;
    border-radius: 12px;
    box-shadow: inset 0 1px 0 @glowy, 
                0 0 12px @bar_color;
}
scale slider {
    -gtk-icon-source: none;
    border: 1px solid @bg_color;
    background: radial-gradient(circle at center, @grad_lit 70%, @grad_drk 20%);
    min-width: 12px;
    min-height: 12px;
    margin: -3px; 
    box-shadow: 0 0 12px @bar_color, 
                inset 0 1px 1px @glow,
                0 1px 1px @shadow_color;
    border-radius: 100%;
}
scale contents slider:hover,
scale contents slider:active {
    background: radial-gradient(circle at center, @grad_lit 70%, @grad_drk 20%);
    box-shadow: 0 0 10px @accent_color, 
                inset 0 1px 2px @glow;
    border-radius: 100%;
}
levelbar trough {
    background-color: @bg_color;
    border: none;
    padding: 0;
    min-height: 8px;
    border-radius: 12px;
}
levelbar block {
    min-height: 8px;
    border-radius: 12px;
    border: none;
}
levelbar block.filled,
levelbar block.low,
levelbar block.high,
levelbar block.full {
    background: linear-gradient(to right, @grad_drk, @grad_lit);
    box-shadow: 0 0 8px @bar_color;
}
scrollbar trough {
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: 5px;
}
scrollbar slider {
    -gtk-icon-source: none;
    border-radius: 4px;
    background: linear-gradient(to right, @grad_drk, @grad_lit);
    box-shadow: 0 0 3px @purpglow, 
                inset 0 1px 1px @glowy;
    margin: 1px;
    border: none;
    background-clip: padding-box;
    min-width: 4px;
    min-height: 6px;
    transition: all 0.1s ease-in-out;
}
scrollbar slider:hover,
scrollbar slider:active,
scrollbar slider:hover:active {
    background-color: @accent_bg_color;
    background: linear-gradient(to right, @grad_drk, @grad_lit);
    box-shadow: 0 0 3px @purpglow, 
                inset 0 1px 1px @glowy;
    margin: 1px;
}
scrollbar button {
  min-width: 0;
  min-height: 0;
  background-image: none;
  border: none;
}
/* ----------------------------------------------------------
                        SWITCHES     
---------------------------------------------------------- */
radio {
    -gtk-icon-source: none;
    border: none;
    background-color: @glowy;
    box-shadow: inset 0 1px 1px @glowy, 
                0 2px 2px @shadow_color;
    border-radius: 100%;
}
radio:checked {
    background: radial-gradient(circle at center, @grad_lit 35%, @glowy 35%);
    box-shadow: 0 0 1px @accent_color, 
                0 2px 2px @shadow_color;
}
radio:hover {
    border: 1px solid @border_color;
}
check {
    background-color: @glowy; 
    border: 1px solid @border_lite; 
    border-radius: 100%;                   
    min-height: 16px;
    min-width: 16px;
    margin-right: 8px;
}
check:checked {
  background-image: none;
  background-color: @accent_color;
  border-color: @grad_lit;
  color: @selection_color; 
  transition: all 200ms ease-in-out;
  }
check:hover {
    border: 1px solid @border_color;
}
switch trough {
    background-image: none;
    background-color: @view_bg_color;
    box-shadow: none;
}
switch slider {
    -gtk-icon-source: none;
    border-radius: 100%;
    border: 0px solid #000;
    background-color: @view_fg_color;
    background: linear-gradient(to bottom, #333, #111);
    box-shadow: inset 0 1px 1px @glowy, 
                0 2px 2px @shadow_color;
    min-width: 14px;
    min-height: 14px;
    margin: 3px;
  }
switch:checked {
    background-color: @switchtrough;
    border: 1px solid @switchtrough;
    box-shadow: inset 0 2px 4px @switchtrough;
    border-radius: 99px;
}
switch:checked slider {
    background: radial-gradient(circle at center, @grad_lit 80%, @grad_drk 20%);
    box-shadow: 0 0 12px @accent_color, 
                inset 0 1px 1px @glow,
                0 2px 2px @shadow_color;
}
switch:checked trough {
    background: linear-gradient(to right, @grad_drk, @grad_lit);
    border: 1px solid @accent_dark;
}
/* ----------------------------------------------------------
                    FULLSCREEN BORDER FIX      
---------------------------------------------------------- */
window.csd.maximized,
window.maximized,
nautilus.maximized
  {
    --window-radius: 0;
    --window-border-width: 0;
    border-radius: 0;
    border: none;
  }
window.maximized,
window.fullscreen,
window.toplevel.maximized,
window.toplevel.fullscreen,
window.csd.maximized,
window.csd.fullscreen {
    --window-radius: 0px;
    --window-border-width: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-style: none;
    box-shadow: none;
}
window.csd.maximized headerbar,
window.csd.fullscreen headerbar,
window.maximized .titlebar,
window.fullscreen .titlebar {
    border-radius: 0px;
    border-width: 0px;
    border-style: none;
}
nautilus-window.fullscreen,
window.loupe.maximized,
window.loupe.fullscreen,
window.loupe.fullscreen .top-bar,
window.loupe.fullscreen .fullscreen-osd {
    --window-radius: 0px;
    border-radius: 0px;
    border-width: 0px;
    border-style: none;
    box-shadow: none;
}
window.maximized decoration,
window.fullscreen decoration {
    border-radius: 0px;
    box-shadow: none;
}
/* ----------------------------------------------------------
                          CHROMIUM     
---------------------------------------------------------- */
window.chromium, 
window.brave-browser,
window.chromium-browser,
window.chromium drawingarea,
window.brave-browser drawingarea,
window.background.chromium,
window.chromium,
.chromium,
window.background.chromium viewport,
window.background.chromium contents,
settings-ui, 
html, 
body,
window.chromium body,
window.chromium.body
    {
    background: @chromium;
    background-color: @chromium;
    border-radius: 30px;
    }
window.background.chromium contents selection,
window.background.chromium text selection,
window.background.chromium *:selected,
window.background.chromium selection:focus,
window.background.chromium selection:backdrop,
window.background.chromium popover.menu contents modelbutton:selected,
window.background.chromium popover.menu contents modelbutton:hover,
window.background.chromium menu contents item:selected 
    {
    background-color: @accent_dark;
    color: @view_fg_color;
    border-radius: 30px;
    text-shadow: 0 1px 2px @textglow;
    }
window.background.chromium selection,
window.background.chromium text selection 
    {
    background-color: @grad_lit;
    color: @view_fg_color;
    border-radius: 30px;
    text-shadow: 0 1px 2px @textglow;
    }
window.background.chromium selection 
    {
    outline: 1px solid @glowy;
    outline-offset: -1px;
    border-radius: 30px;
    }
window.popup.menu.chromium,
window#ContextMenu.chromium,
.chromium popover,
.chromium popover contents,
.chromium .menu,
window.popup.menu.chromium contents,
window.popup.menu.chromium viewport {
    background-color: @popover_bg_color;
    border-radius: 30px;
    }
.chromium menuitem:first-child {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    }
.chromium menuitem:last-child {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    }
window.background.chromium headerbar.header-bar.titlebar {
  padding: 0 12px;
  background-color: rgba(10,20,30, 0.6);
  color: @glow;
  border-radius: 30px 30px 0 0;
  box-shadow: inset 0 1px 0 @border_color;
  border: none;
  border-radius: 30px;
    }  
/* ----------------------------------------------------------
                    TEXT SHADOW / DEPTH      
---------------------------------------------------------- */
window.dark label.title:not(:disabled):not(.dim-label),
window.dark label.heading:not(:disabled):not(.dim-label),
window.dark windowtitle label:not(:disabled):not(.dim-label),
window.dark .navigation-sidebar label:not(:disabled):not(.dim-label),
window.dark headerbar label:not(:disabled):not(.dim-label) {
  text-shadow: 0 1px 2px @textglow;
}
window.dark label selection,
window.dark label:disabled,
window.dark label:disabled * {
    text-shadow: none;
}
window.theme-dark label, 
window.theme-dark .title,
window.theme-dark .heading,
.theme-dark label {
  text-shadow: 0 1px 2px @textglow;
}
window label, 
headerbar label {
  text-shadow: 0 1px 2px @textglow;
}
/* ----------------------------------------------------------
                          ANIMATIONS      
---------------------------------------------------------- */
@keyframes popupFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(-4px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
popover, 
.popover, 
menu, 
.menu, 
tooltip, 
.tooltip, 
dialog, 
.dialog, 
window.dialog {
  animation: popupFadeIn 0.5s cubic-bezier(0.2, 1, 0.3, 1) forwards;
}
popover contents {
  animation: popupFadeIn 0.5s cubic-bezier(0.2, 1, 0.3, 1) forwards;
}
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(12px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
toastoverlay > toast {
  animation: slideUpFade 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
bottomsheet,
.bottom-sheet,
dialog.bottom,
window.dialog.bottom {
  animation: slideUpFade 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
.osd,
.navigation-sidebar {
  animation: popupFadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                ::::::::::EXPERIMENTAL CODES HERE::::::::::
  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
window.chrome-page-properties,
window.browser-window,
.browser-window {
  background-color: @popover_bg_color;
}
window.browser-window textview,
window.browser-window entry,
.location-bar,
#omnibox {
  background-color: @chromium;
  color: @view_fg_color;
  border-radius: 30px;
  border: 1px solid @border_color;
}
window.browser-window entry,
window.browser-window textview,
.browser-window .location-bar,
window entry {
  border-radius: 30px;
  background-clip: padding-box;
  transition: all 250ms ease-in-out;
  background-color: @shade_color; 
}
window.browser-window entry:focus,
window.browser-window entry:focus-within,
window entry:focus,
window entry:focus-within {
  border-radius: 30px;
  background-color: @chromium;
  color: @view_fg_color;
  box-shadow: 0 0 18px @purpglow, 
              inset 0 1px 0 @glowy,
              inset 0 0 0 1px @border_color;
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
                      > > > > > > > >> > > > AUGUST 1st, 2026
  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
